
build --cxxopt="-std=c++17" --cxxopt="-Wno-unknown-pragmas" --force_pic --remote_http_cache=http://mada2.cse.ucsc.edu:8082
common --color=yes
test --cache_test_results=no  --test_tag_filters "-long1,-long2,-long3,-long4,-long5,-long6,-long7,-long8"

# Future remote buildfarm for bazel
# add the following line to lgraph/.bazelrc to enable remote builds
# build --jobs=50 --spawn_strategy=remote --genrule_strategy=remote --strategy=Javac=remote --strategy=Closure=remote --remote_executor=mada1.soe.ucsc.edu:8980

