---
BasedOnStyle: Google
ColumnLimit: '132'
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: true
  AlignCompound: true
  PadOperators: true
AlignConsecutiveDeclarations:
  Enabled: true
  AcrossComments: true
AlignArrayOfStructures: Right
AlignConsecutiveBitFields:
  Enabled: true
  AcrossComments: true
AlignConsecutiveMacros:
  Enabled: true
  AcrossComments: true
AlignConsecutiveShortCaseStatements:
  Enabled: true
  AcrossComments: true
  AlignCaseColons: true
AlignTrailingComments: 'true'
AlignEscapedNewlines: 'true'
AlignAfterOpenBracket: 'Align'
AlignOperands: 'true'
AllowAllArgumentsOnNextLine: 'false'
BinPackArguments: 'false'
AllowShortIfStatementsOnASingleLine: 'false'
AllowShortCaseLabelsOnASingleLine: 'true'
BreakConstructorInitializers: 'BeforeComma'
BreakBeforeBinaryOperators: 'true'
BreakStringLiterals: 'true'
AccessModifierOffset: -2
IndentAccessModifiers: 'false'
InsertBraces: 'true'
...
