pp
tags
lgdb*
cov
tmp*
cscope*
*NBSD*
*.swp
*.swo
*.swn
*.pyc
*.hpp.gch
*.o
*.log
yosys_script.??????
yosys_script.??????.err
yosys_script.??????.log
*.ckpt
fm_*.tcl
perf.data*
coverage*.info
compile_commands.json
bazel-*
dist
*.egg-info
.gdb_history
