[submodule "subs/yosys"]
	path = subs/yosys
	url = https://github.com/cliffordwolf/yosys.git
[submodule "subs/sparsehash-c11"]
	path = subs/sparsehash-c11
	url = https://github.com/sparsehash/sparsehash-c11.git
[submodule "subs/BitMagic"]
	path = subs/BitMagic
	url = https://github.com/tlk00/BitMagic.git
[submodule "subs/anubis"]
	path = subs/anubis
	url = https://github.com/masc-ucsc/anubis.git
[submodule "subs/spdlog"]
	path = subs/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "subs/abc"]
	path = subs/abc
	url = https://github.com/berkeley-abc/abc.git
[submodule "subs/pybind11"]
	path = subs/pybind11
	url = https://github.com/pybind/pybind11.git
