name: Ubuntu

on:
  push:
  pull_request:

jobs:
  test-opt:
    name: Build everything
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install bazelisk
        uses: bazelbuild/setup-bazelisk@v2

      - name: Mount bazel cache
        uses: actions/cache@v4
        with:
          path: "~/.cache/bazel"
          key: bazel-gcc

      #      - run: sudo apt install -y build-essential
      - run: bazel test -c dbg -s //...

  coverage:
    name: Gather coverage metrics
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install bazelisk
        uses: bazelbuild/setup-bazelisk@v2

      - name: Mount bazel cache
        uses: actions/cache@v4
        with:
          path: "~/.cache/bazel"
          key: bazel-cgcc

      - name: Print the list of targets
        run: bazel query --output label_kind //...

      - run: bazel coverage --instrument_test_targets --collect_code_coverage --test_tag_filters=-fixme --combined_report=lcov --test_output=all //...

      - uses: codecov/codecov-action@v5
        with:
          directory: ./bazel-out/_coverage

  clang-dbg:
    name: clang tests everything
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install bazelisk
        uses: bazelbuild/setup-bazelisk@v2

      - name: Mount bazel cache
        uses: actions/cache@v4
        with:
          path: "~/.cache/bazel"
          key: bazel-clang

      #      - run: sudo apt install -y build-essential
      - run: CXX=clang++ CC=clang bazel test -c opt //...

